DB_HOST=postgres
DB_PORT=5432
DB_USER=botellas
DB_PASS=CHANGE_ME
DB_NAME=botellas
NODE_ENV=development
SOLVER_URL=http://solver:8001

KEYCLOAK_URL=https://your-keycloak-host/
KEYCLOAK_REALM=your-realm
